@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /* shared styles */
  .display-flex{
    display: flex;
  }
  
  .orange{
    color: #FEA301;
  }
  .sky-blue{
    color: #01ACFD;
  }
  .grenn-blue{
    color: #05D4DF;
  }
  .lavender{
    color: #5D58EF;
  }

  /* nav styles */
  .nav{
    font-family: quicksand;
    justify-content: space-evenly;
    align-items: center;
  }


  .nav-bar{
    gap: 11px;
    align-items: center;
  }
  .logo{
    width: 62px;
    height: 62px;
  }
  .brand{
    font-weight: 700px;
    font-size: 2rem;
  }

  .nav-item{
    list-style: none;
    margin-right: 32px;
    font-weight: 500px;
    font-size: 1.25rem;
    width: 80px;
    height: 30px;
  }

  .nav-link{
    text-decoration: none;
  }

  .btn{
    width: 197px;
    height: 50px;
    border-radius: 12px;
    font-weight: 600px;
    font-size: 1.25rem;
    background-color: orange;
    border: none;
  }