@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /* shared styles */
  .display-flex{
    display: flex;
  }
  
  .orange{
    color: #FEA301;
  }
  .sky-blue{
    color: #01ACFD;
  }
  .grenn-blue{
    color: #05D4DF;
  }
  .lavender{
    color: #5D58EF;
  }
  .black{
    color: #111111;
  }
  .light-blue{
    color: #64C8FF;
  }
  .violet{
    color: #8700FF;
  }

  /* nav styles */
  .nav{
    font-family: quicksand;
    justify-content: space-evenly;
    align-items: center;
    gap: 186px;
    max-width: 1158px;
    height: 62px;
  }


  .nav-bar{
    gap: 11px;
    align-items: center;
  }
  .logo{
    max-width: 62px;
    height: 62px;
  }
  .brand{
    font-weight: 700px;
    font-size: 2rem;
  }

  .nav-item{
    list-style: none;
    margin-right: 32px;
    font-weight: 500px;
    font-size: 1.25rem;
    max-width: 80px;
    height: 30px;
  }

  .nav-link{
    text-decoration: none;
  }

  .btn{
    width: 197px;
    height: 50px;
    border-radius: 12px;
    font-weight: 600px;
    font-size: 1.25rem;
    background-color: orange;
    border: none;
  }
  .banner{
    font-family: quicksand;
    max-width: 1158px;
    height: 575px;
    margin-left: 142px;
    justify-content: space-evenly;
    align-items: center;
    gap: 141px;
  }

  .nav, .banner{
    max-width: 1440px;
    margin: 0 auto;
  }

  .banner-title{
    font-weight: 700px;
    font-size: 3.5rem;
    max-width: 640px;
    height: 183px;
}

  .subtitle{
    font-weight: 400px;
    font-size: 1.25rem;
    max-width: 640px;
    height: 50px;
  }
  .btn2{
    width: 197px;
    height: 50px;
    border-radius: 12px;
    font-weight: 600px;
    font-size: 1.25rem;
    color: white;
    background-color: #111111;
    border: none;
  }
/* main */
.main{
    font-family: quicksand;
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}
  /* Standard Curriculum */

  .main .Curriculum{
    margin-top: 60px;
    align-items: center;
    text-align: center;
  }
  .fact-card1{
    border: 1px solid none;
    box-shadow: 0px 90px 90px 0px rgba(222, 245, 255, 1) inset;
    width: 370px;
    height: 480px;
    border-radius: 18px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }
  .fact-card2{
    border: 1px solid none;
    box-shadow: 0px 90px 90px 0px rgba(255, 244, 220, 1) inset;
    width: 370px;
    height: 480px;
    border-radius: 18px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }
  .fact-card3{
    border: 1px solid none;
    box-shadow: 0px 90px 90px 0px rgba(242, 232, 255, 1) inset;
    width: 370px;
    height: 480px;
    border-radius: 18px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }
  .fact-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 100px;
  }
  .fact-name{
    font-weight: 700px;
    font-size: 1.53rem;
  }
  .fact-title{
    font-weight: 500px;
    font-size: 0.94rem;
  }
  .read-more{
    font-family: quicksand;
    font-weight: 700px;
    font-size: 0.94rem;
    background-color: white;
    border: none;
    margin-top: 33px;
  }
